/* Foundation Overides */
body {
    font-family: "soleil",'helvetica neue', 'helvetica', sans-serif;
    margin: 0 auto;
}

p {
    font-size: 1.1em;
    line-height: 1.3em;
}

img {
    vertical-align: bottom;
}

.row {
    max-width: 100%;
}

h1 {
    font-family: "rooney-web",sans-serif;
    -moz-font-feature-settings:"liga=1, dlig=1";
    -ms-font-feature-settings:"liga", "dlig";
    -o-font-feature-settings:"liga", "dlig";
    -webkit-font-feature-settings:"liga", "dlig";
    font-feature-settings:"liga", "dlig";
}

h2 {
    font-family: "rooney-web",sans-serif;
    -moz-font-feature-settings:"liga=1, dlig=1";
    -ms-font-feature-settings:"liga", "dlig";
    -o-font-feature-settings:"liga", "dlig";
    -webkit-font-feature-settings:"liga", "dlig";
    font-feature-settings:"liga", "dlig";
}

h3 {
    font-family: "soleil",'helvetica neue', 'helvetica', sans-serif;
    -moz-font-feature-settings:"liga=1, dlig=1";
    -ms-font-feature-settings:"liga", "dlig";
    -o-font-feature-settings:"liga", "dlig";
    -webkit-font-feature-settings:"liga", "dlig";
    font-feature-settings:"liga", "dlig";
    font-weight: 100;
}


h4 {
    font-family: "soleil",'helvetica neue', 'helvetica', sans-serif;
    -moz-font-feature-settings:"liga=1, dlig=1";
    -ms-font-feature-settings:"liga", "dlig";
    -o-font-feature-settings:"liga", "dlig";
    -webkit-font-feature-settings:"liga", "dlig";
    font-feature-settings:"liga", "dlig";
    font-weight: 100;
}

.right-align {
    text-align: right;
}
/* Typkit CSS */
.wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading p {
    visibility: hidden;
  }

.wf-active h1, h2, h3, h4, p {
    visibility: visible;
}

/* Home Page */
.gallery-link {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gallery-link a {
    color: #fff;
}

.gallery-link h3 {
    color: #ffffff;
}

.gallery-bg {
    background: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: .2;
}

.gallery-bg-hover {
    opacity: .4;
}

.gallery-title {
    position: absolute;
    top: 20%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.pagination {
    font-size: 3em;
}

/* Gallery Page */
.gallery-header {
    background: #ffffff;
}
.nav-home {
    font-size: 2.5em;
}

.nav-home a {
    color: #1a1a1a;
}

/* Photo Page */
.photo {
    background: #000;
    text-align: center;
}

.photo-sidebar {
    padding-top: 10px;
}

.photo-info {
    font-size: .9em;
    color: #808080;
    margin-bottom: 25px;
}

.photo-info p {
    margin: 0;
}

.landscape {
    max-width: 160%;
    margin-left: -30%;
}

.photo-nav {
    height: 230px;
    background: #252525;
    text-align: center;
    padding: 10px 0 10px 0;
    color: #fff;
}

.photo-nav img {
    width: 140px;
}

.photo-nav-cover {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .4;
}

.photo-nav-text {
    position: absolute;
    top: 40px;
    color: #fff;
    z-index: 100;
    text-align: center;
    width: 100%;
}

.photo-prev-nav-link {
    position: absolute;
    top: 15px;
    left: 15px;
}

.photo-next-nav-link {
    position: absolute;
    top: 15px;
    right: 15px;
}

/* Medium Only Screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

}

/* Medium and larger */
@media only screen and (min-width: 40.063em) {
    .landscape {
        max-width: 100%;
        margin-left: 0;
    }

    .photo-nav {
        height: 300px;
    }

    .photo-nav-text {
        top: 80px;
    }

    .photo-nav img {
        width: 200px;
    }

}

/* Large Screens */
@media only screen and (min-width: 64.063em) {

    /* Gallery Page */
    .gallery-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    .gallery-desc {
        margin-top: 60px;
    }

    /* Photo Page */
    .photo {
        width: 80%;
        padding: 0;
    }

    .photo-info {
        margin-bottom: 55px;
    }

    .photo-sidebar {
        width: 20%;
    }

    .photo-nav {
        height: 500px;
        text-align: center;
        padding-bottom: 30px;
    }

    .photo-nav-cover {
        max-width: 200px;
        width: 100%;
        height: 100%;
    }
    .photo-prev-nav-link {
        position: relative;
        top: auto;
        left: auto;
        margin-bottom: 15px;
        margin-top: 15px;
        width: 100%;
    }

    .photo-next-nav-link {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
    }
}

/* Large Screens that are taller than 700px */
@media only screen and (min-width: 64.063em) and (min-height: 700px) {
    .photo-sidebar {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .photo-nav {
        position: fixed;
        bottom: 0;
    }
}