{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block title %}Photo{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="row photo-page">
    <div class="small-12 large-10 columns photo">
    {% if photo.orientation == 'landscape' %}
      <img data-interchange="[{{ url_for('crop_view', filename=photo.get_crop("display_c")) }}, (default)], [{{ url_for('crop_view', filename=photo.get_crop("display_b")) }}, (medium)], [{{ url_for('crop_view', filename=photo.get_crop("display1600")) }}, (large)]" class="landscape">
      <noscript><img src="{{ url_for('crop_view', filename=photo.get_crop("display1280")) }}"></noscript>
    {% else %}
      <img data-interchange="[{{ url_for('crop_view', filename=photo.get_crop("home400")) }}, (default)], [{{ url_for('crop_view', filename=photo.get_crop("home400")) }}, (medium)], [{{ url_for('crop_view', filename=photo.get_crop("home800")) }}, (large)]" class="portrait">
      <noscript><img src="{{ url_for('crop_view', filename=photo.get_crop("home600")) }}"></noscript>
    {% endif %}
    </div>
    <div class="small-12 large-2 columns photo-sidebar">
      {% if photo.get_exif("ImageDescription") != "No Value" %}
      <div class="row">
        <div class="small-12 columns photo-description">
          <p>{{ photo.get_exif("ImageDescription") }}</p>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="small-12 columns photo-info">
          <p>Taken: {{ photo.date_taken }}</p>
          <p>Camera: {{ photo.get_exif("Model") }}</p>
          <p>Lens: {{ photo.get_exif("LensModel") }}</p>
          <p>Focal Length: {{ photo_focal }}mm</p>
          <p>Shutter: {{ photo_shutter }}</p>
          <p>Aperture: f/{{ photo_aperture }}</p>
        </div>
      </div>
      <div class="row photo-nav">
        <div class="small-12 columns">
            <p>In gallery: <a href="{{ url_for('gallery_view', gallery_key=gallery.key) }}">{{ gallery.name }}</a></p>
        </div>
        <div class="small-12 columns">
          {% if paged.has_prev %}
            {% set photo_prev=paged.prev().items[0] %}
            <a class="nav-left photo-prev-nav-link left" href="{{ url_for('photo_page_view', gallery_key=gallery.key, photo_key=photo_prev.key) }}">
              <p class="photo-nav-text">Previous</p>
              <div class="photo-nav-cover abs-left"></div>
              <img src="{{ url_for('crop_view', filename=photo_prev.get_crop("thumb200"))  }}">
            </a>
          {% endif %}
          {% if paged.has_next %}
            {% set photo_next=paged.next().items[0] %}
            <a class="nav-right photo-next-nav-link right" href="{{ url_for('photo_page_view', gallery_key=gallery.key, photo_key=photo_next.key) }}">
              <p class="photo-nav-text">Next</p>
              <div class="photo-nav-cover abs-right"></div>
              <img src="{{ url_for('crop_view', filename=photo_next.get_crop("thumb200"))  }}">
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}